.home{
    width: 100%;
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; 
}


.headerContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.headerContainer h1{
    font-size: 150px;
    font-weight: 50;
    color: white;
    text-shadow: 5px 10px 15px black;
    font-family: 'Carter One', cursive;
}

.headerContainer p{
    font-size: 60px;
    text-shadow: 5px 10px 15px black;
    font-weight: lighter;
    color: wheat;
    font-family: 'Lobster Two', cursive;
}

.headerContainer button{
    color: black;
    font-weight: 500;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    justify-content: center;
    background-color: bisque;
    height: 70px;
    width: 200px;
    font-size: 25px;
    margin-top: 20px;
    font-family: 'Permanent Marker', cursive;
    text-transform: uppercase;
    box-shadow: 5px 10px 15px black;
}

.headerContainer a{
    text-decoration: none;
}

.headerContainer button:hover{
    background-color: blanchedalmond;
    transition: .3s ease-in;
}

@media(max-width: 659px){
    .home{
        justify-content: center;
        align-items: center;
    }

    .headerContainer h1{
        font-size: 40px;
    }

    .headerContainer p{
        font-size: 30px;
    }

    .headerContainer button{
        margin-bottom: 30px;
    }
}